---
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/MainLayout.astro';
import TeamCard from '../utils/TeamCard.astro';

const metadata = {
  title: 'Faculty',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <!-- <Hero
    tagline="Meet Our"
    title="Faculty"
    subtitle=""
    actions={[{ variant: 'primary', target: '_blank', text: 'Home Page', href: '/' }]}
    image={{
      src: '',
      alt: 'AstroWind Hero Image',
    }}
  /> -->
  <Hero tagline="Meet Our" title="Faculty" subtitle="" />

  <section class="mb-section max-w-[1000px] mx-auto px-4">
    <header class="mb-8 grid gap-4 md:grid-cols-2 md:gap-8">
      <h2 class="text-2xl font-medium md:text-3xl">Adimination</h2>
    </header>
  </section>

  <section
    class="text-white max-w-[1000px] mx-auto px-4 h-[35rem] grid gap-4 md:h-[30rem] md:grid-cols-2 lg:grid-cols-4"
  >
    <TeamCard name="Mishal Alhajri" job="director" alt="some people" src="images/team/man_01.jpg" />
    <!-- <TeamCard name="Daniel Salasar" alt="some people" src="images/team/man_02.jpg" /> -->
    <!-- <TeamCard name="Eduardo Franco" alt="some people" src="images/team/man_03.jpg" /> -->
    <!-- <TeamCard name="Max Alfredo" alt="some people" src="images/team/man_04.jpg" /> -->
  </section>

  <section class="mb-section max-w-[1000px] mx-auto px-4">
    <header class="mb-8 mt-16 grid gap-4 md:grid-cols-2 md:gap-8">
      <h2 class="text-2xl font-medium md:text-3xl">Computer Science Department</h2>
    </header>
  </section>

  <section
    class="text-white max-w-[1000px] mx-auto px-4 h-[35rem] grid gap-4 md:h-[30rem] md:grid-cols-2 lg:grid-cols-4"
  >
    <!-- <TeamCard name="Thomas Mueler" alt="some people" src="images/team/man_01.jpg" /> -->
    <TeamCard name="Yousif Alqallaf" job="dep. head" alt="some people" src="images/team/man_01.jpg" />
    <TeamCard name="Waleed Amer" job="Teacher" alt="some people" src="images/team/man_02.jpg" />
    <TeamCard name="Ali Karam" job="Teacher" alt="some people" src="images/team/man_03.jpg" />
    <TeamCard name="Abdullah Alkandari" job="Teacher" alt="some people" src="images/team/man_04.jpg" />
    <TeamCard name="Helmy Albanna" job="Teacher" alt="some people" src="images/team/man_04.jpg" />
  </section>
  <div><br /></div>
</Layout>
